* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: rgb(39, 41, 68);
  font-family: sans-serif;
}

.page-header {
  height: 25vh;
  padding-top: 50px;
  text-align: center;
  font-size: 25px;
  color: rgb(224, 224, 224);
  background-color: rgb(39, 41, 68);
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.input-form {
  /* margin: auto; */
  /* margin-left: auto; */
  height: 75vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* Style inputs with type="text", select elements and textareas */
input[type="number"],
select,
textarea {
  /* display: inline-block; */
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
.input-box {
  /* margin: auto; */
  margin-top: 0.5%;
  font-size: 20px;
  font-family: sans-serif;
}
